
button {
	background: #ce2121;
	color: #fff;
	padding: 8px;
	margin: 12px 0;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

button.hover {
	background: #fff;
	color: #ce2121;
}

button.playVideo {
	display: none;
}

button.pauseVideo {
	display: none;
}

.video-wrapper {
	width: 100%;
	background: black;
	height: 600px;	
}
.video-wrapper .video-inline {
	display: none;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.video-inline iframe {
	width: 100%;
	height: 100%;
}